*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    width: 1599px;
}
/*==navbar====================================================*/
.nav-menu{
    height: 102px;
    width: 1440px;
}
.navbar-nav{
    width: 436px;
    height: 24px;
    top: 32px;
    left: 778px;
}

.menu{
    font-size: 16px;
    color: black;
    transition-duration: 500ms;
    animation: ease-out;
    line-height: 24px;
    font-weight: 400px;
}
.menu:hover{
    color: #1090CB;
}
.nav-button{
    color:#1090CB;
    width: 125px;
    height: 41px;
    top: 32px;
    left: 1385px;
    border-radius: 6px;
    border-color: #1090CB;
    background-color: #1090CB;
}
/*-----============================end of nav bar==================-----------------/




/*===============================banner============================*/
.banner{
    height: 743px;
    top: 102px;
    background: url(./images/image\ 1.png) no-repeat ;
    width: 1870px;
}
.banner-text{
    width: 900px;
    height: 700px;
    border-radius: 10px;
    border: 1px;
    padding-left: 230px;
    padding-top: 100px;
}
.viewmore-button{
    color:white;
    border-radius: 6px;
    border-color: #1090CB;
    background-color: white;
    width: 125px;
    height: 41px;
}
/*===============================end of banner============================*/


/*===============================section2============================*/
/*===============================end of section2============================*/




/*===============================section3============================*/
.section3-text1{
    padding-top: 100px;
    padding-bottom: 20px;
}

.section3-text2{
    padding-bottom: 20px;
}
/*===============================end of section3============================*/


/*===============================section4============================*/

.img2{
    background: url(./images/image\ 2.png) no-repeat;

    height: 511px;
    width: 1599px;
}
.section4-text1{
    padding-left: 290px;
    padding-top: 100px;
}

.section4-text2{
    padding-left: 230px;
    padding-top: 50px;
}
/*===============================end of section4============================*/



/*===============================section5============================*/
.img4{
    background: url(./images/image4.png) no-repeat;
    height: 511px;
    width: 1599px;
}
.section5-text1{
    padding-left: 990px;
    padding-top: 100px;
}

.section5-text2{
    padding-left: 930px;
    padding-top: 50px;
}
/*===============================end of section5============================*/






/*===============================section6============================*/
.img3{
    background: url(./images/image3.png) no-repeat;
    height: 511px;
    width: 1599px;
}
.section6-text1{
    padding-left: 290px;
    padding-top: 100px;
}

.section6-text2{
    padding-left: 230px;
    padding-top: 50px;
}
/*===============================end of section6============================*/


